/*************************************************************************************************************

                                            PAGINA DE ESTILOS GENERALES
    
    Este archivo debe de estar en todas las  páginas de nuestra aplicación, asi que solo deben de estar
    solo aquellos componnetes que se repitan a lo largo del mismo. 


******************************************+*++**************************************************************++*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

:root{
    --primaryColor: #045892;
    --secondaryColor: #032046;
    --backgroundColor : #F2F0ED;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.wrapperCustom{
    width: 90%;
    margin: 0 auto;
}