.bannerPrimary{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgba(4,88,146, 0.9);
    border-bottom-left-radius: 22%;
    color: white;
}

.bannerPrimary:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom-left-radius: 22%;
    z-index: -1;
}

.contentBanner{
    display: flex;
    width: 100%;
    height: 100% !important;
    justify-content: space-between;
    align-items: center;
}

.bannerPrimary .wrapperCustom{
    display: flex;
    height: 100%;
    align-items: center;
}


.contentBannerText h1{
    width: 60%;
    margin: 1em auto;
    font-size: 3em;
    text-align: center;
    font-weight: bolder;
}

.buttons{
    display: flex;
    gap: 2em;
    justify-content: center;
}

.buttons a{
    background-color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
    color: white;
    font-weight: bolder;
    padding: 0.75em;
    border-radius: 22px;
    text-decoration: none;
    text-align: center;
    width: 15%;
}

.buttons a:hover{
    background-color: white;
    color: var(--secondaryColor);
    border: 2px solid white;
}